* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body { 
    background: #fafafa; 
    color: #333; 
}

.container {
    width: min(90%, 1100px);
    margin: auto;
}

.section { 
    padding: 60px 0; 
}

.light { 
    background: #f4f4f4; 
}

.header {
    background: #444;
    padding: 18px 0;
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.nav-links a:hover { 
    opacity: 0.7; 
}


.about-section {
    position: relative;
    overflow: hidden;
    height: 400px;
    color: white;
}

.about-section .content {
    position: relative;
    z-index: 2;
}

/* VIDEO BACKGROUND */
.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: brightness(40%);
}

.project {
    text-align: center;
    margin-top: 20px;
}

.project img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.contactgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
    align-items: start;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

.form input,
.form textarea {
    width: 100%;
    margin-top: 6px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea { 
    height: 120px; 
    resize: none; 
}

.btn {
    margin-top: 12px;
    width: 100%;
    padding: 12px;
    border: none;
    background: #444;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover { 
    background: #333; 
}


#menu-button {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

    #menu-button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: #444;
        padding: 15px;
        margin-top: 15px;
        border-radius: 8px;
    }

    .nav-links.open {
        display: flex;
    }
}

.footer {
    background: #444;
    color: white;
    text-align: center;
    padding: 18px 0;
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 1px;
}

.form p {
    color: red;
}